* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #111;
}
#top-bit {
  width: 100%;
  text-align: center;
  color: #eceff1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#top-bit h1 {
  font-size: 2em;
  margin: 0;
}
#the-stuff {
  margin: 0 auto;
  margin-top: 20px;
  width: 75%;
  text-align: center;
}
#the-stuff button {
  margin-bottom: 5px;
}
#the-stuff p {
  color: #999;
}
#footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #fafafa;
}
#footer a.dnomaid {
  color: #0670B1;
}
#footer a.n3 {
  color: #d32f2f;
}
#footer a.reddit {
  color: #ff4500;
}
#footer a.gh {
  color: #999;
}
#footer a {
  transition: all 0.5s;
}
#footer a:hover {
  color: #999;
}

@media screen and (max-width: 500px) {
  #the-stuff {
    width: 100%;
  }
  #the-stuff button {
    width: 95%;
  }
}
